#newsList {
    display: flex;
    flex-wrap: wrap;
}

.newsItem{
    display:flex;
    flex-direction:column;
    max-width: 75vh;
    border: 2px solid black;
}

img {
    width: 200px;
    height: 200px;
}