#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    width: 450px;
    border-radius: 2px;
    position: fixed;
    top: 25%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px;
    
}

#dogButton {
    font-size: 30px;
    width: 300px;
    background-color: tan;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
}

img {
    max-width: 400px;
    height: 375px;
    padding: 10px;
    position: relative;
}