<html>
<body>
    <form action="/add-post" method="POST">
        <input type="text" name="postTitle" placeholder="Enter title"/>
        <input type="text" name="postEntry" placeholder="Type blog entry"/>
        <button>Save</button>
    </form>
<body>
</html>