<html>
<body>
    <form action="/update-post" method="POST">
        <input type="text" name="postTitle" placeholder="Enter title"/>
        <input type="text" name="postEntry" placeholder="Type blog entry"/>
        <input type="hidden" name="postUpdate" value="{{postid}}"/>
        <button>Save</button>
    </form>
<body>
</html>