<header>
    <p><a href="/trips/my-trips">Home</a></p>
    <p><a href="/trips/add-trip">Add Trip</a></p>
    <form action="/trips/logout" method="POST">
        <button>Log Out</button>
    </form>
</header>