<header>
    <p><a href="/auth/main">Home</a></p>
    <p><a href="/auth/add-post">Add Post</a></p>
    <form action="/auth/logout" method="POST">
        <button>Log Out</button>
    </form>
</header>