<html>
    <body>
        <form action="/add-trip" method="POST">
            <input type="text" name="tripTitle" placeholder="Trip Title"/>
            <input type="text" name="imageURL" placeholder="Image URL"/>
            <input type="text" name="departureDate" placeholder="Date of Departure"/>
            <input type="text" name="returnDate" placeholder="Date of Return"/>
            <button>Save</button>
        </form>
    </body>
</html>