<html>
    <script>
    form {
        background-color: mistyrose;
    }
    </script>
    <body>
        {{#trips}}
            <form action="/delete-trip" method="POST">
                <div>
                    <span style="font-size: 5vw">Desitination: {{title}}</span>
                    <img src="{{image}}"/>
                    <h3>Deparure Date: {{departureDate}}</h3>
                    <h3>Return Date: {{returnDate}}</h3>
                    <button style="font-size: 3vw, width: auto">Delete</button>
                    <input type="hidden" name="tripTitle" value="{{title}}"/>
                </div>
            </form>
        {{/trips}}
        <form action="/return" method="POST">
            <button>Add Trip</button>
        </form>
    </body>
</html>