.header {
    background-color:#FF4747;
    color: white;
    text-align: center;
    font-size: 35px;
}

.cities {
    background-color:#788FFF;
    color: white;
    text-align: center;
    list-style: inside;
    font-size: 50px;
}

a {
    color: white; 
    text-decoration: none;
    font-size: 50px; 
}

.featured-image {
    width: 80%; 
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.footer {
    background-color:#788FFF;
    color: white;
    text-align: center;
}