body {
    background-color: midnightblue;
}

#gradient {
    height: 400px;
    width: 400px;
    color: black;
    font-size: 5em;
    /*text-align: center;
    align-items: center;
    background-image: radial-gradient(circle closest-side, red, blue)*/
}