@import
url(https://fonts.googleapis.com/css?family=Varela+Round);

html {
    font-family: 'Verela Round', sans-serif;
    text-align: center;
    padding: 2rem;
}

h1 {
    font-size: 7rem;
    font-weight: 700;
    letter-spacing: -1.25rem;
}

.opacity {
    span:nth-child(1) {
        color: rgba(#AB1795, 0.75);
    }
}